In [14]:
import pandas as pd
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, AdaBoostClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv(r'code/data/Predict-The-Data-Scientists-Salary-In-India_Train_Dataset.csv')

In [22]:
df.head()

,job_description,job_desig,job_type,key_skills,location,salary,company_name_encoded,min_exp,max_exp
0,Exp: Minimum 5 years;Good understanding of IOC...,9104,3,"team skills, communication skills, analytical ...",597,5,3687,5,7
1,He should have handled a team of atleast 5-6 d...,4395,3,"ppc, logistics, inventory management, supply c...",1412,1,458,10,17
2,Must be an effective communicator (written & s...,3058,2,"HR Analytics, Employee Engagement, Training, S...",525,2,4195,5,9
3,7 - 10 years of overall experience in data e...,1087,2,"SQL, Javascript, Automation, Python, Ruby, Ana...",114,1,313,7,10
4,Chartered Accountancy degree or MBA in Finance...,10385,3,"accounting, finance, cash flow, financial plan...",811,4,1305,1,3

In [24]:

# df[['min_exp', 'max_exp']] = df['experience'].str.extract(r'(\d+)-?(\d+)?')
df['min_exp'] = df['min_exp'].fillna(0).astype(int)
df['max_exp'] = df['max_exp'].fillna(df['min_exp']).astype(int)  # if only one value, copy to max

df.head()

,job_description,job_desig,job_type,key_skills,location,salary,company_name_encoded,min_exp,max_exp
0,Exp: Minimum 5 years;Good understanding of IOC...,9104,3,"team skills, communication skills, analytical ...",597,5,3687,5,7
1,He should have handled a team of atleast 5-6 d...,4395,3,"ppc, logistics, inventory management, supply c...",1412,1,458,10,17
2,Must be an effective communicator (written & s...,3058,2,"HR Analytics, Employee Engagement, Training, S...",525,2,4195,5,9
3,7 - 10 years of overall experience in data e...,1087,2,"SQL, Javascript, Automation, Python, Ruby, Ana...",114,1,313,7,10
4,Chartered Accountancy degree or MBA in Finance...,10385,3,"accounting, finance, cash flow, financial plan...",811,4,1305,1,3

In [25]:
df['job_type'] = df['job_type'].fillna('Unknown')
df['job_type'] = le.fit_transform(df['job_type'])

In [26]:
df['job_desig'] = le.fit_transform(df['job_desig'])
df['company_name_encoded'] = le.fit_transform(df['company_name_encoded'])

In [29]:
# df = df.drop(columns=['Unnamed: 0'])

In [38]:
X = df.drop('salary', axis=1)
y = df['salary']
# print(X.select_dtypes(include='object').columns)

Index([], dtype='object')

In [36]:
df = df.drop(columns=[ 'job_description', 'key_skills'])

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [53]:


classifiers = {
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(n_estimators=100),
    'Extra Trees': ExtraTreesClassifier(n_estimators=100),
    'AdaBoost': AdaBoostClassifier(n_estimators=100),
    'Gradient Boosting': GradientBoostingClassifier(n_estimators=100)
}

for name, clf in classifiers.items():
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    print(f"{name}: Accuracy = {acc}")

Decision Tree: Accuracy = 0.34031810148952285
Random Forest: Accuracy = 0.37288563494067156
Extra Trees: Accuracy = 0.3587477909618783
AdaBoost: Accuracy = 0.3986367079020449
Gradient Boosting: Accuracy = 0.4584700833122949